@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
  --gray-100: #9C9C9C;
  --gray-300: #6E6E6E;


  --blue-100: #B0E1FF;
  --blue-150: #34A1FF;
  --blue-200: #0B7DC3;
  --blue-300: #0075D9;
  --blue-500: #004173;
  --blue-900: #1C2934;

  --yellow: #F8EE0D;
  --green: #22A900;
  --white: #FFFFFF;
  --red: #FF5555;

  --default-font: 400 1rem Poppins, sans - serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 400 1rem Poppins, sans - serif;
  font-family: "Poppins";
}

button,
a {
  cursor: pointer;
}